body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa; /* 如果图片未加载，使用这个背景颜色 */
  background-image: url('../images/background.jpg'); /* 添加背景图片 */
  background-size: cover; /* 让背景图片覆盖整个背景区域 */
  background-position: center; /* 图片居中显示 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
}

.container {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.time-label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.time-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.time-range {
  font-size: 16px;
  margin-bottom: 5px;
}
